<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Job_Channel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Job_Channel.Properties.Settings>
            <setting name="Confirmation" serializeAs="String">
                <value>Cete action est irréversible. Voulez-vous vraiment supprimer cette offre ?</value>
            </setting>
            <setting name="TitreSuppr" serializeAs="String">
                <value>Suppression d'une offre</value>
            </setting>
        </Job_Channel.Properties.Settings>
    </userSettings>
</configuration>